<nz-dropdown nzPlacement="bottomRight" nzTrigger="click" >
<div nz-dropdown class="header-warning" snzTitle="报警信息" nzPlacement="bottom" nz-tooltip>
  <i nz-icon nzType="alert" nzTheme="outline"></i>
</div>
<ul nz-menu style="width: 300px" class="notify-ul">
<li nz-menu-item>
    <div class="notify-card">
      <div class="notify-card-title">
        <div class="targetName">道路堵塞！    沪A*****  2号门</div>
        <div class="targetName">外来车辆！    沪A*****  1号门</div>
        <div class="targetName">长时间滞留！  沪A*****  C区</div>
        <div class="targetName">占用人行路！  沪A*****  C区</div>
      </div>
      </div>
  </li>
</ul>
</nz-dropdown>